fastapi
uvicorn
sqlalchemy
psycopg2-binary
pandas
numpy
mlxtend
requests
beautifulsoup4
python-dotenv
apscheduler
pydantic
pydantic-settings
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
